body {
  background-color: black;

  font-family: "Pacifico", cursive;

  color: rgb(117, 19, 209);
}
div {
  display: flex;

  font-size: 100px;

  align-items: center;

  justify-content: center;

  margin: 250px auto;
}
